<div class="container mx-auto mt-8 min-h-screen px-4 sm:px-6 lg:px-8">
  @if(errorMessage) {
  <div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300">
    {{ errorMessage }}
  </div>
  }
  <div class="mb-4">
    <h1 class="text-3xl font-bold">Detections</h1>
  </div>
  <div class="flex justify-end">
    <button
      class="px-4 py-2 rounded-md bg-yellow-600 text-white hover:bg-yellow-700"
      (click)="add()"
    >
      Add Detection
    </button>
  </div>
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase tracking-wider">#</th>
            <th class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase tracking-wider">Time</th>
            <th class="px-4 py-3 text-xs font-medium text-left text-gray-500 uppercase tracking-wider">Direction (angle)</th>
            <th class="px-4 py-3 text-xs text-center text-gray-500 uppercase tracking-wider">&nbsp;</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          @for (d of detections | async; track d.id) {
          <tr>
            <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ d.id }}</td>
            <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ d.detectionTimestamp | date:'MMMM d, yyyy - HH:mm' }}</td>
            <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ d.direction }}</td>
            <td class="whitespace-nowrap text-sm font-medium">
              <div class="flex justify-end gap-2">
                <a (click)="delete(d.id)" class="text-red-600 hover:text-red-800 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </a>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
