<div class="container mx-auto mt-8 min-h-screen">
    @if(isSubmitted && errorMessage) {
    <div
      class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
    >
      {{ errorMessage }}
    </div>
    }

    <form (ngSubmit)="onSubmit()" #detectionForm="ngForm">
      <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
          >Tijd tussen aanvallen (seconden)</label
        >
        <input
          type="name"
          id="name"
          name="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Tijd tussen aanvallen (seconden)"
          required
          [(ngModel)]="calculation.TimeBetween"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
          Tijd tussen aanvallen (seconden) is verplicht in te vullen
        </div>
      </div>
  
      <div class="mb-6">
        <label for="surname" class="block mb-2 text-sm font-medium text-gray-900"
          >Richting (graden)</label
        >
        <input
          type="surname"
          id="surname"
          name="surname"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Richting (graden)"
          required
          [(ngModel)]="calculation.Direction"
          #surname="ngModel"
        />
        <div
          [hidden]="surname.valid || surname.pristine"
          class="text-red-500 mt-2"
        >
        Richting (graden) is verplicht
        </div>
      </div>
  
      <button
        type="submit"
        [disabled]="!detectionForm.form.valid || isSubmitted"
        class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
      >
        Toevoegen
      </button>
    </form>
  </div>