<div class="fixed inset-0 flex flex-col">
    <div id="legend" class="mt-16 md:mt-0 md:absolute md:top-20 md:right-4 bg-white p-4 rounded-lg shadow-md z-10">
        <div class="flex justify-center">
            @if (screenWidth >= 768) {

            }
            @else {
                <button 
                class="flex items-center"
                (click)="isLegendOpen = !isLegendOpen"
            >
                <p class="me-2">Filter</p>
                <img class="w-5 h-auto transition-transform duration-300 ease-in-out transform" [ngClass]="{'rotate-180': isLegendOpen, 'rotate-0': !isLegendOpen}" src="assets/Dropdown.svg" alt="Toggle Legend">
            </button>
            }
            
        </div>
        @if(isLegendOpen || (screenWidth >= 768)){
        <div class="space-y-4">
            @for(f of filters; track $index){
                <label class="flex items-center cursor-pointer space-x-4">
                    <!-- Feature Icon -->
                    <img [src]="f.icon" alt="{{f.name}}" class="w-6 h-6">
                
                    <!-- Feature Name -->
                    <p class="text-sm font-medium text-gray-700">{{f.name}}</p>
                
                    <!-- Toggle Switch -->
                    <div class="relative w-11 h-6">
                        <input type="checkbox" value="" class="sr-only peer" (click)="onOffFilter(f)" [checked]="f.active">
                        <div
                            class="absolute inset-0 bg-gray-200 rounded-full peer-focus:ring-1 peer-focus:ring-yellow-500 dark:peer-focus:ring-yellow-800 
                                    peer-checked:bg-yellow-600 dark:peer-checked:bg-yellow-600 transition"
                        ></div>
                        <div
                            class="absolute top-[2px] left-[2px] w-5 h-5 bg-white border border-gray-300 rounded-full transition-all 
                                    peer-checked:translate-x-full rtl:peer-checked:translate-x-0 dark:border-gray-600"
                        ></div>
                    </div>
                </label>
            }
        </div>
        }
    </div>
    <div id="map" class="flex-1 border border-gray-300" style="width: 100%; height: 100%;"></div>

    @if(formIsVisible){
        <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full relative">
                <button 
                    class="absolute top-2 right-2 text-gray-500 hover:text-black" 
                    (click)="closeModal()"
                ><img class="w-5" src="assets/closeButton.svg" alt="closeButton"></button>
                @if(nestForm.id){
                    <h2 class="text-lg font-bold mb-4 text-gray-900">Bewerk detectie</h2>
                }
                @else {
                    <h2 class="text-lg font-bold mb-4 text-gray-900">Nieuwe hoorenaarnest toevoegen</h2>
                }
                <div>
                    <button class="bg-yellow-600 text-white px-4 py-2 rounded-lg hover:bg-yellow-700 mb-4" 
                    (click)="openEditMode()"
                    >Nieuwe Locatie Aanduiden</button>
                    
                    <form (ngSubmit)="onSubmit()" #StatusForm="ngForm">
                        <div class="mb-4 flex flex-nowrap gap-4">
                            <!-- Latitude -->
                            <div class="w-full md:w-1/2">
                                <label class="block text-sm font-medium text-gray-700 mb-2" for="latitude">
                                    Latitude
                                </label>
                                <input 
                                    id="latitude" 
                                    type="text" 
                                    name="latitude"
                                    class="w-full border rounded-lg px-3 py-2" 
                                    required
                                    [(ngModel)]="nestForm.latitude"
                                    #latitudeInput="ngModel"
                                />
                                <div [hidden]="latitudeInput.valid || latitudeInput.pristine" class="text-red-500 mt-2">
                                    Latitude is required
                                </div>
                            </div>
                        
                            <!-- Longitude -->
                            <div class="w-full md:w-1/2">
                                <label class="block text-sm font-medium text-gray-700 mb-2" for="longitude">
                                    Longitude
                                </label>
                                <input 
                                    id="longitude" 
                                    type="text" 
                                    name="longitude"
                                    class="w-full border rounded-lg px-3 py-2" 
                                    required
                                    [(ngModel)]="nestForm.longitude"
                                    #longitudeInput="ngModel"
                                />
                                <div [hidden]="longitudeInput.valid || longitudeInput.pristine" class="text-red-500 mt-2">
                                    Longitude is required
                                </div>
                            </div>
                        </div>                        
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-2">
                                Selecteer uw status
                            </label>
                        
                            <div class="space-y-2">
                                @for (s of statuses$ | async; track s) {
                                    <label class="flex items-center space-x-3 p-3 rounded-lg border border-gray-300 cursor-pointer hover:bg-gray-100 transition"
                                        [for]="'status-' + s.id">
                                        
                                        <!-- Visible Radio Button -->
                                        <input type="radio" [id]="'status-' + s.id"
                                            name="statuses"
                                            [value]="s.id"
                                            [checked]="s.id === nestForm.statusId"
                                            [(ngModel)]="nestForm.statusId"
                                            class="w-5 h-5 text-blue-600 focus:ring-blue-500 border-gray-300">
                                        
                                        <!-- Label Text -->
                                        <span class="text-gray-700 font-medium">
                                            {{ s.type }}
                                        </span>
                                    </label>
                                }
                            </div>
                        </div>
                        
                        
                        <!-- Submit Button -->
                        @if(nestForm.id){
                            <button 
                            type="submit" 
                            class="bg-yellow-600 text-white mb-2 px-4 py-2 rounded-lg hover:bg-yellow-700 w-full"
                        >
                            Detectie bewerken
                        </button>
                        <button class="bg-yellow-600 text-white mb-2 px-4 py-2 rounded-lg hover:bg-yellow-700 w-full" 
                            (click)="deleteMarker()"
                            >Detectie verwijderen</button>
                        }
                        @else {
                            <button 
                            type="submit" 
                            class="bg-yellow-600 text-white mb-2 px-4 py-2 rounded-lg hover:bg-yellow-700 w-full"
                        >
                            Detectie toevoegen
                        </button>
                        }
                        
                    </form>
                </div>
            </div>
        </div>
    }    
</div>
