<div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
    <div class="flex items-center justify-between mb-6">
        <h1 class="text-2xl font-bold text-gray-800">CRUD Table</h1>
        <button 
        (click)="openForm()"
        class="px-4 py-2 bg-yellow-600 text-white font-semibold rounded-md shadow hover:bg-yellow-700    focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 ml-auto">
          Add New Beehive
        </button>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-center">
        @for(b of beehives$ | async; track $index){
            <div class="max-w-sm mx-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a class="flex justify-center" href="https://www.google.com/maps/place/{{b.beehive.latitude}},{{b.beehive.longitude}}">
                    <img class="rounded-t-lg" [src]="snapshotUrls.get(b.beehiveId)" alt="" />
                </a>
                <div class="p-5">
                    @if(EditingBeehiveId !== b.beehiveId)
                    {
                        <button (click)="startEditing(b.beehiveId)">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{b.beehive.beehiveName}}</h5>
                        </button>
                    }
                    @else {
                        <input
                        id="nameEdit_{{ b.beehiveId }}"
                        type="text"
                        [(ngModel)]="b.beehive.beehiveName"
                        class="form-select block w-full px-4 py-2 text-base text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition ease-in-out duration-300"
                        required
                        #beehive="ngModel"
                        (keydown.enter)="saveChanges(b.beehive)"
                      />
                    }
                    <p class="mb-2 tracking-tight text-gray-900 dark:text-white">Active</p>
                </div>
            </div>
        }
    </div>
</div>

<app-beehive-form 
    [isVisible]="isFormVisible" 
    (close)="closeForm()"
    (submitForm)="handleFormSubmit($event)"
></app-beehive-form>